[user]
  email = blake.j.burgess@gmail.com
  name = Blake Burgess
[credential]
  helper = cache --time=3600
[alias]
  co = checkout
  ci = commit
  st = status --untracked-files=no
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  pullom = pull origin master
